@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

@import './header.css';
@import './footer.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Golos Text", sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}