.news,
.about,
.brands {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 15px;
}

.news h2,
.about h2,
.brands h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 112%;
    color: #6E7191;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.news-desc,
.about-desc,
.brands-desc {
    font-weight: 400;
    font-size: 14px;
    color: #6E7191;
    margin-top: 30px;
}

.home__img {
    margin-top: 40px;
    position: relative;
    padding: 15px;
}

.home__img img {
    width: 100%;
}

.home__img p {
    position: absolute;
    top: 60px;
    left: 65px;
    z-index: 1;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #415458;
    line-height: 210%;
}

.brands__carts {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
}

.brands__carts-item {
    padding: 5px;
    border-radius: 15px;
    border: 2px solid #6E7191;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brands__carts-item img {
    width: 200px;
    border-radius: 15px;
}

@media (max-width: 1440px) {
    .home__img {
        margin-top: calc((100vw - 320px)/(1440 - 320) * (40 - 30) + 30px);
    }

    .home__img p {
        top: calc((100vw - 320px)/(1440 - 320) * (60 - 13) + 13px);
        left: calc((100vw - 320px)/(1440 - 320) * (65 - 13) + 13px);
        font-size: calc((100vw - 320px)/(1440 - 320) * (35 - 7) + 7px);
    }
}